* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(210, 204, 244);
}

.container {
    padding: 0 30px;
}

.title {
    text-align: center;
    margin: 50px;
    color: rgb(0, 0, 0);
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height: 100px;
    width: 100%;
    background-color:#FFFFFF;
    margin-bottom: 25px;
}